@media screen and (max-width:700px) {
    .navbar{
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    button{
        margin-top:10px;
        
    }


}


@media screen and (max-width:850px) {
   
    .nav-social{
        display: none;
    }
}

